# Microsoft Word documents
*.docx

# files starting with '~' (temporary files)
~*

# Visual Studio Code settings
.vscode

# Additional information and code
docs/
sample/

# Additional Ignore Patterns (if needed)