# Microsoft Word documents
*.docx

# files starting with '~' (temporary files)
~*

# Visual Studio Code settings
.vscode

# Additional information and code
sample/
docs/

# Additional Ignore Patterns (if needed)