.App {
  text-align: center;
}

img {
  transition: transform 0.3s ease;
}

.color-blue {
  background-color: lightblue;
  color: darkblue;
}

.color-red {
  background-color: lightcoral;
  color: darkred;
}

.color-green {
  background-color: lightgreen;
  color: darkgreen;
}

.color-orange {
  background-color: lightgoldenrodyellow;
  color: darkorange;
}

.default-color {
  background-color: white;
  color: black;
}

#headerComponent {
  padding-top: 1rem;
}

#imageControls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: calc(10px + 1vmin);
  gap: calc(5px + 1vmin);
}

#imageComponent {
  margin: 20px;
}

#contentComponent {
  text-align: left;
  padding: calc(10px + 1vmin) calc(10px + 40vmin);
}

Button {
  background-color: #4df987;
  color: #2b2b2b;
  padding: 1rem 2rem;
  font-size: calc(10px + 1vmin);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1000;
}

Button:hover {
  background-color: #16ff64;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
